In [1]:
import pandas as pd

コナンの公式ページからコミックの収録話をスクレイピングしたものをpandasで読み込む

In [2]:
df = pd.read_csv("caseTitle.csv",header=None)
df.head()

   0              1
0  0  ジェットコースター殺人事件
1  1       社長令嬢誘拐事件
2  2     アイドル密室殺人事件
3  3     赤鬼村 火祭殺人事件
4  4     奇妙な人捜し殺人事件

In [3]:
df.drop(0,axis=1,inplace=True)

In [4]:
df.index = df.index + 1

caseTitle.csvのindex番号を1からにしてそれをcsv化

In [5]:
df.to_csv("caseTitle1.csv",header=None)
df.head()

               1
1  ジェットコースター殺人事件
2       社長令嬢誘拐事件
3     アイドル密室殺人事件
4     赤鬼村 火祭殺人事件
5     奇妙な人捜し殺人事件

事件の内容をスクレイピングしたものを読み込む

In [6]:
df2 = pd.read_csv("case.csv","\r",header=None)
df2.head()

                                                   0
0  高校生探偵・工藤新一は、幼なじみの蘭と前から約束していたデートのために、トロピカルランドへや...
1  　蘭に連れられてコナンが毛利探偵事務所の前に来ると、小五郎が仕事に出かけるところだった。小五...
2  　仕事もなく暇を持てあましている小五郎の事務所に、アイドル歌手の沖野ヨーコが現れた。ストーカ...
3  久々に入った仕事を終わらせ、有頂天の小五郎。報酬は三日間の尾行で破格の50万円。だが、尾行し...
4  　毛利探偵事務所に一人の少女が訪ねて来た。広田雅美と名乗る彼女は、父・健三を捜すために上京し...

In [7]:
df2.index += 1

In [8]:
df2.to_csv("case1.csv",header=None)
df2.head()

                                                   0
1  高校生探偵・工藤新一は、幼なじみの蘭と前から約束していたデートのために、トロピカルランドへや...
2  　蘭に連れられてコナンが毛利探偵事務所の前に来ると、小五郎が仕事に出かけるところだった。小五...
3  　仕事もなく暇を持てあましている小五郎の事務所に、アイドル歌手の沖野ヨーコが現れた。ストーカ...
4  久々に入った仕事を終わらせ、有頂天の小五郎。報酬は三日間の尾行で破格の50万円。だが、尾行し...
5  　毛利探偵事務所に一人の少女が訪ねて来た。広田雅美と名乗る彼女は、父・健三を捜すために上京し...

caseTitle1.csvとcase1.csvをつなげる

In [9]:
df3 = pd.concat([df,df2],axis=1)

In [10]:
df3.tail()

               1                                                  0
289  灰原のストラップの行方  コナンと少年探偵団たちはサッカー観戦後、米花駅まで電車で戻って来る。スタジアムで大ファンの比...
290       紅の修学旅行  灰原からAPTX4869の解毒剤をもらい、一時的に新一に戻ったコナンは、蘭たちと京都へ修学旅...
291     たどり着いた正体  APTX4869の解毒薬を飲み、新一の姿で帝丹高校の修学旅行に参加したコナンは、そこで起きた...
292  黒ウサギ亭には近づくな  対峙する赤井秀一と安室透。その９時間前。脅迫状を受け取った資産家・諸岡郡蔵からの依頼で、コナ...
293    狙われた女性警察官  警視庁交通部交通執行課に所属している三池苗子は、勤務後に先輩女性警察官の八木紫織と百崎橙子と...

カラム名をTitle,Caseに変更

In [11]:
df3 = df3.rename(columns={1:"Title",0:"Case"})

In [12]:
df3.head()

           Title                                               Case
1  ジェットコースター殺人事件  高校生探偵・工藤新一は、幼なじみの蘭と前から約束していたデートのために、トロピカルランドへや...
2       社長令嬢誘拐事件  　蘭に連れられてコナンが毛利探偵事務所の前に来ると、小五郎が仕事に出かけるところだった。小五...
3     アイドル密室殺人事件  　仕事もなく暇を持てあましている小五郎の事務所に、アイドル歌手の沖野ヨーコが現れた。ストーカ...
4     赤鬼村 火祭殺人事件  久々に入った仕事を終わらせ、有頂天の小五郎。報酬は三日間の尾行で破格の50万円。だが、尾行し...
5     奇妙な人捜し殺人事件  　毛利探偵事務所に一人の少女が訪ねて来た。広田雅美と名乗る彼女は、父・健三を捜すために上京し...

1話から最新話まであることを確認

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 1 to 293
Data columns (total 2 columns):
Title    293 non-null object
Case     293 non-null object
dtypes: object(2)
memory usage: 4.7+ KB

In [13]:
df3.to_csv("conanData.csv")